<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Zgłoska" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gradient-to-br from-orange-50 to-white min-h-screen font-sans text-gray-800">
    <nav class="bg-white shadow rounded-b-xl mb-10">
      <div class="max-w-7xl mx-auto px-4 py-4 flex items-center justify-between">
        <div class="flex items-center space-x-4">
          <%= link_to root_path, class: "flex items-center space-x-2", aria: { label: "Strona główna" } do %>
            <img src="/logo.png" alt="Zgłoska" class="h-16 w-auto object-contain" />
          <% end %>
        </div>

        <div class="md:flex items-center space-x-4">
          <% if user_signed_in? %>
            <%= button_to "Wyloguj się", destroy_user_session_path, method: :delete, class: "text-gray-700 hover:text-orange-600 transition" %>
          <% else %>
            <%= link_to "Zaloguj się", new_user_session_path, class: "text-gray-700 hover:text-orange-600 transition" %>
            <%= link_to "Zarejestruj się", new_user_registration_path, class: "bg-orange-500 hover:bg-orange-600 text-white px-4 py-2 rounded transition" %>
          <% end %>
        </div>

    </nav>
      <%= render "shared/flash" %>
      <%= yield %>

  </body>
  <script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll('[data-flash]').forEach(el => {
      setTimeout(() => {
        el.classList.add('opacity-0');
        setTimeout(() => el.remove(), 400); 
      }, 4000);
    });
  });
</script>
</html>
